@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
  --font-family-fraunces: var(--font-fraunces);
}

@utility font-fraunces {
  font-family: var(--font-fraunces);
}

:root {
  --color-primary: #420039;
  --color-secondary: #0b3954;
  --color-accent: #c81d25;
  --color-accent-rgb: 200, 29, 37;
  --color-background: #ffffff;
  --color-text: #13070c;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

