@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
  --font-family-fraunces: var(--font-fraunces);
}

@utility font-fraunces {
  font-family: var(--font-fraunces);
}

:root {
  --color-primary: #420039; /* If we add themes it should change this color */
  --color-secondary: #0b3954;
  --color-accent: #c81d25;
  --color-accent-rgb: 200, 29, 37;
  --color-background: #ffffff;
  --color-text: #13070c;
}

.dark {
  --color-primary: #a78bfa;
  --color-secondary: #60a5fa;
  --color-accent: #f87171;
  --color-accent-rgb: 248, 113, 113;
  --color-background: #111827;
  --color-text: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

